//assets path defined in variables.scss

@font-face {
	font-family: 'F37 Bolton';
	src: url('#{$assetsPath}/fonts/F37Bolton-Regular.eot'); /* IE9 Compat Modes */
	src: url('#{$assetsPath}/fonts/F37Bolton-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('#{$assetsPath}/fonts/F37Bolton-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('#{$assetsPath}/fonts/F37Bolton-Regular.woff') format('woff'), /* Modern Browsers */
		url('#{$assetsPath}/fonts/F37Bolton-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('#{$assetsPath}/fonts/F37Bolton-Regular.svg#8d78341c435fdafffec700a6bb39f2a0') format('svg'); /* Legacy iOS */
       
  font-style: normal;
  font-weight: 400;
}


@font-face {
	font-family: 'F37 Bolton Light';
	src: url('#{$assetsPath}/fonts/F37Bolton-Light.eot'); /* IE9 Compat Modes */
	src: url('#{$assetsPath}/fonts/F37Bolton-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('#{$assetsPath}/fonts/F37Bolton-Light.woff2') format('woff2'), /* Super Modern Browsers */
		url('#{$assetsPath}/fonts/F37Bolton-Light.woff') format('woff'), /* Modern Browsers */
		url('#{$assetsPath}/fonts/F37Bolton-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('#{$assetsPath}/fonts/F37Bolton-Light.svg#dfd555c91a4debb5e3ca748cf4133461') format('svg'); /* Legacy iOS */
       
  font-style: normal;
  font-weight: 200;
}