.page-content {
	&:not(.content--has-banner) {
		margin-top: 5rem; //compensate for absolute header
	}	
	padding-top: 6rem;

	@media all and (max-width: $breakpoint_mobile) {
		padding-top: 2rem;
	}
}