// some useful variables 

//relative path to assets dir
$assetsPath: "..";

//default font
$font_default: 'F37 Bolton', sans-serif;

//colors
$navy: #1c142d;
$purple: #753bf2;
$orange: #e6664e;
$white: #e2deeb;

$viewport_width: 1680px;
$viewport_padding: 16px;

$breakpoint_phone: 360px;
$breakpoint_mobile: 960px;
$breakpoint_tablet-portrait: 768px;
$breakpoint_tablet: 1024px;
$breakpoint_desktop: 1080px;

$breakpoint_hd: 1280px;
$breakpoint_fullhd: 1920px;
$breakpoint_wqhd: 2560px;