.section-careers {
	background: $navy;
	.section__header {
		margin: 0;
		h2 {
			margin: 0;
		}
		p {
			margin-bottom: 3rem;
		}
	}
	@media all and (max-width: $breakpoint_hd) {
		.button {
			max-width: 100%;
		}
	}
}