.section-products {
	background: $white;

	.section__grid {
		margin: 6rem 0 0;	
		grid-column-gap: 4rem;	
		.grid__item {
			.item__grid {
				display: grid;
				grid-template-columns: 2fr 3fr;
				grid-column-gap: 4rem;	
				margin-bottom: 4rem;			
			}

			.item__cover {
				display: grid;
			}
		}
	}

	@media all and (min-width: $breakpoint_tablet-portrait) {
		.section__grid {
			.grid__item {
				.item__cover {
					h3 {
						display: none;
					}
				}
			}
		}
	}
	@media all and (min-width: $breakpoint_hd + 1px) {
		.section__grid {
			grid-column-gap: 8rem;
		}
	}
	@media all and (min-width: $viewport_width) {
		.section__grid {
			grid-column-gap: 20rem;
		}
	}
	@media all and (min-width: $breakpoint_tablet-portrait) and (max-width: $breakpoint_mobile) {
		.section__grid {
			margin: 3rem 0 0;
			grid-row-gap: 4rem;
			.grid__item {
				.item__grid {
					margin-bottom: 2rem;
				}
			}
		}
	}

	@media all and (max-width: $breakpoint_mobile) {
		.section__grid {
			.grid__item {
				h3 {
					font-size: 1.125em;
				}
			}
		}
	}

	@media all and (max-width: $breakpoint_tablet-portrait - 1px) {
		.section__grid {
			margin: 2rem 0 0;
			.grid__item {
				.item__grid {
					grid-template-columns: 1fr;
					margin-bottom: 1rem;
					
				}
				.item__cover {					
					grid-template-columns: 1fr 1fr;
					align-items: center;
					margin: 1rem 0;
					figure {
						//maintain aspect ratio 1:1
						padding-bottom: 100%;
					}
				}
				.item__content {
					h3 {
						display: none;
					}
				}
			}
		}		
	}

}